/*import font SourGummy*/
@font-face {
  font-family: "SourGummy";
  src: url("../public/Sour_Gummy,Yanone_Kaffeesatz/Sour_Gummy/static/SourGummy-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "SourGummy";
  src: url("../public/Sour_Gummy,Yanone_Kaffeesatz/Sour_Gummy/static/SourGummy-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "SourGummy";
  src: url("../public/Sour_Gummy,Yanone_Kaffeesatz/Sour_Gummy/static/SourGummy-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: "SourGummy";
  src: url("../public/Sour_Gummy,Yanone_Kaffeesatz/Sour_Gummy/static/SourGummy-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: "SourGummy";
  src: url("../public/Sour_Gummy,Yanone_Kaffeesatz/Sour_Gummy/static/SourGummy-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-display: fallback;
}

/*Global setting part*/
#root {
  font-family: "SourGummy", sans-serif, Arial, Helvetica, sans-serif;
}

/*HTML class setting part*/
.search-bar,
.restaurant {
  background-color: hsl(205, 40%, 14%);
}
.search-bar {
  height: 15rem;
  background-image: url("../public/nav_bg.jpg");
  background-size: cover;
}
.my-card {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.my-card:hover {
  box-shadow: 0 0 30px hsl(174, 100%, 50%);
}

/*HTML tag setting part*/
h2 {
  color: rgb(47, 141, 255);
  font-size: 1.7rem;
  font-weight: bold;
}
h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
p {
  line-height: 0.8rem;
  font-size: 1rem;
  font-weight: normal;
}
.my-btn {
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  color: white;
  background-color: rgb(2, 156, 252);
  box-shadow: 3px 2px 0 2px rgb(5, 113, 255);
  transition: 0.1s;
}
button:hover {
  background-color: rgb(0, 58, 133);
}
button:active {
  transform: translate(3px);
  box-shadow: none;
}
